* {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-sm {
    border: 1px solid #333333;
    width: 200px;
    height: 100px;
    overflow-y: scroll;
    padding-top: 25px;
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    border-style: solid;
    border-color: rgb(108, 10, 10);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



button {
    padding: 10px;
    background-color: rgb(251, 251, 250);
    border-style: none;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-color: rgb(108, 10, 10);
    color: rgb(108, 10, 10);

}


button:hover {
    width: 15%;
    padding: 10px;
    background-color: rgb(108, 10, 10);
    border-style: none;
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);

}