<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link>
    <title> Mí Cv </title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <!-- El encabezanddo, incluido el nav bar -->
    <nav>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html"> Cv</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                                href="https://blog.hubspot.es/website/que-es-desarrollador-full-stack#:~:text=Un%20desarrollador%20full%20stack%20es,del%20sitio%20(back%20end)."
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Acerca de la programaciún
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" style="font-size: 20px">
                                Mi currículum Vitae  </a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Ingresa tu busqueda" aria
                            -label="Search">
                        <button class="btn btn-outline-success" type="submit"> Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </nav>


    <!--   Header informatico-->
    <header>
        <div class="container-sm"> Isabela Marcos <h3> Programadora web full stack </h3>
        </div>
        <div class="container-md"> <img src="../images/chiquita.png" alt="foto de adolescente" class="fotoIsabel">
            <p class="textoSobreMi" style="float: left;">Sobre Mí: <br> Me apasiona la originalidad
                y la creatividad, con un sinfín de ideas sobre diseño muy sorprendentes.
                estoy cursando programación, tengo conocimientos.
                Me considero una persona responsable y ordenada.
                Buscando mi primera experiencia laboral. </p>
        </div>
    </header>



    <!--   el contenido de la informacion importante dividida en 4 secciones-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <a href="../views/perfil.html" style="text-decoration: none;"> <img src="../images/info.jpg"
                        class="card-img-top" alt="Imagen sobre informacion personal">
                    <div class="card-body">
                        <h5 class="card-title" style="color:grey"> <i class="fa-solid fa-user"> </i> Perfil personal
                        </h5>
                        <p class="card-text" style="color:grey"> Descubre mis talentos y hablidades aqui</p>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <a href="../views/infoAcademica.html" style="text-decoration: none;"> <img src="../images/infoAcademica.jpg"
                    class="card-img-top" alt="Imagen sobre informacion academica">
                <div class="card-body">
                    <h5 class="card-title" style="color:grey"> <i class="fa-solid fa-graduation-cap"></i> Informacion
                        academica</h5>
                    <p class="card-text" style="color:grey"> clickea aqui y mira mis estudios </p>
            </a>
        </div>
    </div>
    </div>

    <div class="col">
        <div class="card">
            <a href="../views/laboral.html" style="text-decoration: none;"> <img src="../images/agencia1.jpg"
                    class="card-img-top" alt="imagen sobre experiencia">
                <div class="card-body">
                    <h5 class="card-title" style="color:grey"> <i class="fa-solid fa-briefcase"></i> Experiencia Laboral
                    </h5>
                    <p class="card-text" style="color:grey"> Dirijete a mi informacion haciendo Click aqui </p>
            </a>
        </div>
    </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="../views/porqProgramar.html" style="text-decoration: none;"> <img
                    src="../images/infoAcademica.webp" class="card-img-top" alt="imagen sobre experiencia">
                <div class="card-body">
                    <h5 class="card-title" style="color:grey"> ¿ Porque elegí la
                        programación?</h5>
                    <p class="card-text" style="color:grey"> Dirijete a mi informacion haciendo Click aqui </p>
            </a>
        </div>
    </div>
    </div>

    <!--   un poco de diversion para el navegante -->

    <div class="container-lg">
        <h3 class="textobotton">¿ Quíeres ver que puede hacer un programador? haz click aqui para descubrirlo! </h3>

        <!--  Primer boton para cambiar color-->

        <button onclick="gfg_Ru()" class="primerBotton">
            Clickea aquí
        </button>

        <script>
            function changeColor(color, text) {
                document.body.style.background = color;

            }

            function gfg_Ru() {
                changeColor("grey");
                el_down.innerHTML = "Background Color changed";
            }         
        </script>


        <!--  Segundo  boton para cambiar color-->



        <button onclick="gfg_Run()" class="segundoBotton">
            vuelve aquí
        </button>

        <p id="GFG_DOW" style="color:green; font-size: 20px; font-weight: bold;">
        </p>

        <script>
            var el_up = document.getElementById("GFG_UP");
            var el_dow = document.getElementById("GFG_DOW");
            function changeColor(color) {
                document.body.style.background = color;
            }

            function gfg_Run() {
                changeColor('white');
                el_down.innerHTML = "Background Color changed";
            }         
        </script>
        <h4 class="textoInferior"> Esta simple acción requiere de logíca y tiempo, es muy interesante Javascript! </h4>
    </div>
    </div>



</body>

</html>